
body { margin:0; padding:0; font-size:14px; }
a { text-decoration:none; }
ul,li { margin:0; padding:0; list-style:none; white-space:nowrap; overflow:hidden; }
ul li { padding:1px 0; }

.border-none {
	border:none;
}

.br { border-right:1px solid #999; }

.fl { float:left; }
.fr { float:right; }

.cl:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#wrapper {
	width:960px;
	margin:0 auto;
}

#header {
	width:960px;
	margin:0 auto;
}

#menu {
	width:960px;
	height:30px;
	background-color: #933;
}

#menu ul {
	height:30px;
	line-height:30px;
	list-style:none;
	background-color: #933;
}

#menu ul li {
	float:left;
	width:239px;
	text-align:center;
	border-right:1px solid #999;
}

#menu ul li a {
	color:#FFFFFF;
}



#post {
	width:960px;
	height:600px;
}

.post-list {
	width:239px;
	text-align:left;
	padding-top:10px;
}

.post-list ul {
	padding-left:5px;
}


.footer {
	width:960px;
	height:45px;
	margin:0 auto;
}

.copy {
	text-align:center;
	height:45px;
	line-height:45px;
}


#category {
	width:960px;
	height:300px;
}

.category-list {
	width:100%;
	height:100%;
	padding-top:10px;
}

.category-list ul {
	
}

.category-list ul li {
	float:left;
	width:234px;
	padding-left:5px;
}


#related {
	width:960px;
	height:200px;
}

.related-post {
	width:100%;
	height:100%;
	padding-top:10px;
}

.related-post ul {
	padding-left:5px;
}

.related-post ul li {
	float:left;
	width:234px;
}




#single {
	width:960px;
	height:600px;
}

.single-content {
	width:600px;
}

.single-content p {
	text-indent:2em;
	line-height:20px;
}

.single-related {
	width:300px;
}

.single-around {
	width:500px;
	height:40px;
}
