<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}_原始传奇_玩复古发布网</title>
<meta name="keywords" content="{{ page.title }},原始传奇,玩复古发布网" />
<meta name="description" content="{{ page.description }}" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/common.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="menu" class="cl">
			<ul>
				<li><a href="{{ site.baseurl }}/chenmo/">我本沉默</a></li>
				<li><a href="{{ site.baseurl }}/fugu/">1.76复古传奇</a></li>
				<li><a href="{{ site.baseurl }}/dudu/">嘟嘟传奇</a></li>
				<li class="border-none"><a href="{{ site.baseurl }}/yuanshi/">原始传奇</a></li>
			</ul>
		</div>
	</div>